{% extends 'mysite/layout.html' %}
{% load static %}
{% block title %}Блог{% endblock %}

{% block static %}
<link rel="stylesheet" href="{% static 'mysite/css/news.css' %}">
{% endblock %}

{% block content %}
<div class="news-container">
    <div class="news-list">
        {% for blog in blogs %}
            <div class="news-item">
                <div class="news-image">
                    <img src="{{ blog.image.url }}" alt="{{ blog.title }}">
                </div>
                <div class="news-content">
                    <h2><a href="{% url 'mysite:blog_detail' blog.pk %}">{{ blog.title }}</a></h2>
                    <div class="news-meta">
                        <span class="author">{{ blog.author }}</span>
                        <span class="date">{{ blog.date_published|date:"d.m.Y H:i" }}</span>
                    </div>
                </div>
            </div>
        {% empty %}
            <div class="no-news">
                <p>Блогов пока нет</p>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}