{% extends 'mysite/layout.html' %}
{% load static %}
{% block title %}Блог{% endblock %}

{% block static %}
<link rel="stylesheet" href="{% static 'mysite/css/blog_detail.css' %}">
{% endblock %}

{% block content %}
    <div class="blog_detail">
        <div class="content">
            <img src="{{ blog.image.url}}">
            <div><a>{{ blog.content }}</a></div>
        </div>
        <div class="blog_info">
            <a>{{ blog.author }}</a>
            <a>{{ blog.date_published }}</a>
        </div>
    </div>
{% endblock %}