{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>
        {% block title%}
        Главная | MySite
        {% endblock %}
    </title>
    <link rel="stylesheet" href="{% static 'mysite/css/layout.css' %}">
    <link rel="icon" href="{% static 'mysite/img/logo.ico' %}" type="image/x-icon">
    {% block static %}
    {% endblock %}
</head>
<body>
    <div class="header">
        <div class="nav-container">
            <div class="logo-container">
                <img src="{% static 'mysite/img/logo.png' %}" alt="Логотип сайта" class="logo">
                <div class="site-info">
                    <div class="site-title">Мой Сайт</div>
                    <div class="site-description">Создан на базе познаний Никиты Смирнова</div>
                </div>
            </div>
            
            <div class="nav-menu">
                <div class="nav-buttons">
                    <a href="{% url 'mysite:index' %}" class="nav-button">Главная</a>
                    <a href="/news/" class="nav-button">Новости</a>
                    <a href="/contacts/" class="nav-button">Контакты</a>
                    <a href="{% url 'users:profile' %}" class="nav-button">Мой аккаунт</a>
                </div>
            </div>
            <div class="login">
                {% if user.is_authenticated %}
                <a>Привет, {{ user.username }}</a>
                {% comment %} {% if user.is_superuser %}
                    <a href="/admin/" class="nav-button b">Администрирование</a>
                {% endif %} {% endcomment %}
                <form class="log_out_form" action="{% url 'users:logout' %}" method="post">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-info"><i class="fa fa-sign-out-alt"></i>Выход</button>
                </form>
            {% else %}
                <a class="nav-button" href="{% url 'users:login' %}">Войти</a>
                <a class="nav-button" href="{% url 'users:register' %}">Зарегистрироваться</a>
            {% endif %}
            </div>
        </div>
    </div>
    <div class="header-spacer"></div>
    {% block content %}
    {% endblock %}
</body>
</html>